@tailwind base;
@tailwind components;
@tailwind utilities;

/*

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background: lightgray url(/imagens/background.jpg) no-repeat fixed;
    background-position: cover;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: rgba(211, 211, 211, 0.575);
    padding: 10px;
}

menu {

}

menu > ul {
    text-align: center;
    list-style-type: none;
}

menu > ul > li {
    background-color: rgba(104, 104, 104, 0.674);
    margin: 0px -40px;
    border: 1px solid gray;
    padding: 5px;
}

menu > ul > li:hover {
    background-color: gray;
}

menu > ul > li > a {
    padding: 5px;
    text-decoration: none;
    color: white;
}

menu > ul > li > a:hover {
    text-decoration: underline;
    background-color: grey;
    color: white;
    border-radius: 30px;
}

main {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px;
}


header > h1 {
    color: grey;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

#imagem {
    border: 3px solid gray;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
}


footer {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.824);
}


@media screen and (min-width: 768px) {
  header {
      display: flex;
      justify-content: space-between;
      padding: 20px 16px;
  }
  
  main {
      height: 75vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      padding: 20px;
  }
  
  #imagem {
      border: 3px solid gray;
      width: 300px;
      height: 300px;
      margin-left: 50px;
      border-radius: 10px;
  }
  
  menu > ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      list-style-type: none;
  }
  
  menu > ul > li {
      background-color: transparent;
      margin: auto;
      border: none;
      padding: 10px;
  }
  menu > ul > li:hover {
      background-color: transparent;
  }
  

  menu > ul > li > a {
      padding: 10px;
      text-decoration: none;
      color: rgb(104, 104, 104);
  }
  
  menu > ul > li > a:hover {
      text-decoration: underline;
      background-color: grey;
      color: white;
      border-radius: 30px;
  }
  
}

*/


