@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background: lightgray url(../imagens/background.jpg) no-repeat fixed;
    background-position: cover;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: rgba(211, 211, 211, 0.575);
}

header > h1 {
    color: grey;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

#imagem {
    border: 3px solid gray;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
}

menu {

}

menu > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

menu > ul > li {
    
}

menu > ul > li > a {
    padding: 10px;
    text-decoration: none;
    color: rgb(104, 104, 104);
}

menu > ul > li > a:hover {
    text-decoration: underline;
    background-color: grey;
    color: white;
    border-radius: 30px;
}

footer {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.824);
}